<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Магазин различных товаров - Категории
            {% endblock %}
        </title>
        
        {% block stylesheets %}
            
        {% endblock %}
    </head>
    <body>
        {% block body %}

            {{ include('site.com/menu.html.twig') }}

            {% block categories %}
                <h3>Категории</h3>
                {% for category in categories %}
                    <ul>
                        <li><a href="{{ path('category_name', {'slug': category.name}) }}">
                                {{ category.name }}
                            </a></li>
                    </ul>
                {% endfor %}
            {% endblock %}

            {% block products %}
                <h4>Товары в категории</h4>
                <ul>
                {% for item in items %}
                    <li>{{ item.name }}</li>
                {% endfor %}
                </ul>
            {% endblock %}

        {% endblock %}
        
        {% block javascripts %}
            
        {% endblock %}
    </body>
</html>